body {
  font-family: Times New Roman;
}

/* Position the image container (needed to position the left and right arrows) */
.container{
	max-width:70px
	padding: 0px;
	display: flex;
	margin:0px 0px 0px 250px;
        flex-direction:row;
	}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 25%;
  padding:5px;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.left-column {
	width:30%;
	position: relative;
	}

.right-column {
	width:50%;
	padding:0 0 0 40px;
	}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width:1400px)
{
	
.container{
 width:80%;
 height:20%;
 margin:2%;
}

}



@media screen and (max-width:420px)
{
	
.container{
 width:100%;
 flex-direction:column;
}
.left-column {
	width:90%;
	}

.right-column {
	width:90%;
        padding:0;

	}

}
